<p id="notice"><%= notice %></p>

<%
=begin%>
 <h1>Calendars</h1> 
<%
=end%>

<table>
  <%
=begin%>
 <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th colspan="3"></th>
    </tr>
  </thead> 
<%
=end%>

  <tbody>
    <% @calendars.each do |calendar| %>
      <tr>
        <td><%= calendar.name %></td>
        <td><%= calendar.start_time("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to 'Show', calendar %></td>
        <td><%= link_to 'Edit', edit_calendar_path(calendar) %></td>
        <td><%= link_to 'Destroy', calendar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calendar', new_calendar_path %>

<%= month_calendar events: @calendars do |date, calendars| %>
  <%= date %>

  <% calendars.each do |calendar| %>
    <div>
      <%= calendar.name %>
    </div>
  <% end %>
<% end %>
